<h1>
  Todo
</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Target Date</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter atleast 5 characters in Description</div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset>
      <label>Description</label>
      <input type="text"
        class="form-control"
        name="description"
        [(ngModel)]="todo.description"
        #description="ngModel"
        required="required" minlength="5">
    </fieldset>
    <fieldset>
      <label>Target Date</label>
      <input type="date"
        class="form-control"
        name="targetDate" 
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
        #targetDate="ngModel"
        (ngModelChange)="todo.targetDate = $event"
        required="required" >
    </fieldset>
    <br />
    <button type="submit" class="btn btn-success">Save</button>&nbsp;
    <button class="btn btn-warning" [routerLink]="['/todos']">Cancel</button>
  </form>
</div>
